.main-div {
  height: 250px;
}

.quote {
  // text-align: center;
  height: 100%;
}

button {
  margin-top: 18px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 8px;
}

.mat-cell-number {
    text-align: right;
}
